<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>

<% if current_user %>
  <%= current_user.email  %>
  <%= link_to "ログアウト", sign_out_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", sign_in_path %>
<% end %>
<%= link_to "OPのトップへ行く", "http://localhost:3780" %>
